body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 154, 3);
}


.quiz-container {
display: flex;
justify-content: center;
padding: 60px;
color: black;
}

.highscorecontainer {
    display: flex;
    justify-content: center;
    padding: 60px;
    color: black;
    }



  .start-next {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hide {
      display: none;
  }

#answers {
    padding: 5x;
    display: flex;
    justify-content: center;
}